App {
  text-align: center;
}

body{
  background-image: url('https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size:cover;
  
}
label{
  font-size: large;
}
.col-sm-6{
  background-color: rgb(241, 241, 241);
  border-radius: 1%;
  margin-top: 2%;
}
h1{
  font-family: monospace;
  color: green;
  /* background: lightgreen;  */
}
table{
  margin: auto;
}
td{
  padding: 15px;
}
input{
  width: 100%;
  
}
#clrbtn{
  text-align: center;
  padding: 15px;
  color:white;
  border-radius: 5px;
  transition-duration: 0.2s;
  background-color: #dc3545 ;
}
#clrbtn:hover{
  cursor: pointer;
}
button{
  /* width: %; */
}
.link{
  text-decoration: none;
  color: black;
}