.App {
    text-align: center;
  }
  body{
    background-image: url('https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size:cover;
  }
  .col-sm-6{
    background-color: rgb(241, 241, 241);
    border-radius: 1%;
    margin-top: 2%;
    overflow: auto;
  }
  label{
    font-size: large;
  }
  h1{
    font-family: monospace;
    color: green;
    /* background: lightgreen; */
  }
table{
    margin: auto;
    /* border: 3px solid green; */
    /*border-collapse: collapse;*/
    /* width: 60%; */
  }
  
  td{
    padding: 15px;
  }
  input{
    width: 100%;
  }
  button, .btn-danger{
      /* padding: 10%; */
      width: 100%;
  }
  .link{
    text-decoration: none;
    color: black;
}